.wall-container {
  background-image: url('../../Assets//1.jpg') ;
  width: 100%;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 50% -25px;
  background-position-x: 50%;
  background-position-y: -25px;
}
.wall-left {
}

.wall-right {
  padding-right: -100px;
}
