.main-container {
  display: flex;
  margin: 100px 80px 0px 0px;
}
.main-left {
  width: 70%;
}

.main-right {
  box-shadow: 5px 5px 5px  #e0d9c0;;
  padding: 2%;
  border-radius: 20px;
  height:fit-content; 
}

.main-right li {
  font-size: 25px;
}

.main-logo {
  width: 300px;
}

.main-right-bullet {
  display: flex;
}

.main-right-bullet img {
  width: 48px;
  height: fit-content;
  margin-right: 10px;
}
