.App {
  text-align: center;
}

#none {
  text-decoration: none;
  color: black;
}

body {
  background-color: #eaeaea;
}

.paragraph {
  color: #717171;
  /* border-bottom: 5px solid #FBD245;
  padding-bottom: 15px; */
  margin-bottom: 50px;
  background-color: #333333;
  padding: 3%;
}
