.App {
  text-align: center;
}

#none {
  text-decoration: none;
  color: black;
}

body {
  background-color: #eaeaea;
}

.paragraph {
  border-bottom: 5px solid #FBD245;
  margin-bottom: 50px;
  padding-bottom: 1%;
  color: #2A94D0;
}
